<div class="center hero-unit">
  <h1>Hate your software with Love</h1>

  <h2>
    Hating a software service has never been easier.
    <a href="#">Click here to Upload</a>
    sample screenshot.
  </h2>

  <%= link_to "Upload now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<!-- 
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
-->
