<footer class="footer">
  <small>
    <a href="http://ihatesoftware.org/">StarpathIT</a>
    by Lalith Kumar K V N
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://starpathit.com">News</a></li>
    </ul>
  </nav>
</footer>